Package: ddcommands
Version: 1.0
Section: education
Priority: optional
Architecture: all
Maintainer: Aster Xavier Duque Lopez
Description: Diccionario de comandos Linux orientado a estudiantes y principiantes. 
